<html>

<head>
    <style>
        img {
            float: right;
        }

        address {
            float: right;
        }
    </style>
    <title>aptech learning</title>
    <script src="angular-1.8.2/angular.js"></script>
</head>


<body>
    <h1 id="index">my village agagang tikri</h1>
    <p id="demo"><b>my village is very good village</b></p>
    <img src="desktop.jpg" width="600px" height="300px">
    <p id="let">my village name is tikri</br>
        in ayodhya and ayodhya
        beside of sarju river </br>
        my village beside of </br>
        there are many market</br>
        as like agagang market,</br>
        gosaigang market,and kamalavikash</br>
        market and my village is very long</br>
        village name agaganj tikri</br>

    </p>
    <h1>my village of some importent man</h1>
    <address> Mr.Rakesh is the man leader in my village</br>
        Mr.Rajesh is the number 2 leader in my village </br>
        MR.mukesh is the number 3 leader in my village </br>
        MR.suraj is the number 4 leader in my village </br>
        MR.satyam is the number 5 leader in my village </br>
        MR.mohan is the number 6 leader in my village </br>
        MR.manus is the number 7 leader in my village </br>
    </address>
    <link rel="stylesheet" href="style .css">
    <table border="2px" width="500px" height="200px" bgcolor="pink">
        <tr id="nam">
            <th style="font-size:25px;">no.1</th>
            <th style="font-size:25px;">no.2</th>
            <th style="font-size:25px;">no.3</th>

        </tr>
        <tr>
            <td style="font-size:20px;" align="center"> mr.rakesh</td>
            <td style="font-size:20px;" align="center"> mr.suraj</td>
            <td style="font-size: 20px;" align="center"> mr.manu</td>
        </tr>
        <tr>
            <td style="font-size:20px;" align="center">mr.rajesh</th>
            <td style="font-size:20px;" align="center">mr.satyam</th>
            <td style="font-size:20px;" align="center">mr.rahul</th>
        </tr>
        <tr>
            <td style="font-size:20px;" align="center">mr.mohan</th>
            <td style="font-size:20px;" align="center">mr.mukesh</th>
            <td style="font-size:20px;" align="center">mr.umesh</th>
        </tr>
        </tr>
    </table>
    <div ng-app="filter" ng-controller="namectrl">
        <div style="display: flex;flex-wrap: wrap;">
            <div style="display: flex;flex-basis: 50%;">
                <h3> movie names using upper case filter</h3>
                <ul>
                    <li ng-repeat="name in names">{{name|uppercase}}</li>
                </ul>
            </div>
            <div style="display: flex;flex-basis: 50%;">
                <h3> movie names using upper case filter</h3>
                <ul>
                    <li ng-repeat="name in names">{{name|lowercase}}</li>
                </ul>
            </div>
        </div>
        
            <h3>Search for movie by entering the name in input box </h3>
            your search string:
            <input placeholder="Enter name" type="text" ng-model="srchstr" />

        <div style="display: flex; flex-wrap: wrap;">
            <ul style=" list-style-type: none; padding: 0px;">
                <li style="margin: 10px; text-align: center;" ng-repeat="x in names|filter:srchstr"><img src={{x}} width="50"></li>
            </ul>
        </div>
        <script>
            
            var app = angular.module("filter", []);
            app.controller("namectrl", function ($scope) {
                $scope.names = [
                    "kgf.jpg",
                    "pk.jpg",
                    "robot.jpg",
                    "kanchana.jpg",
                    "satya.jpg",
                    "jawan.jpg",
                    "pathaan.jpg",
                    "suriya.jpg",
                    "karan arjun.jpg",
                    "omg.jpg",
                    "gabbar.jpg",
                ];
            });
        </script>

        <h1> my village agricalture list</h1>
        <img src="pictures.jpg">
        <ul style="font-size: 30px;">
            <li> wheat</li>
            <li>pea</li>
            <li>rice</li>
            <li>coliflower</li>
            <li> ginger</li>
            <li>mater</li>
        </ul>

        <a href="contact.html">
            <h1>click the link</h1>
        </a>
    </div>
    <hr>
    <h4>Created by Umesh Kumar in ayodhya</h4>
</body>

</html>