<html>

<head>
    <title>aptech learning</title>
    <script src="angular-1.8.2/angular.js"></script>
</head>


<body>
    <h1 id="index">my village agagang tikri</h1>
    <p id="demo"><b>my village is very good village</b></p>
    <img src="desktop.jpg" width="600px" height="300px">
    <p id="let">my village name is tikri</br>
        in ayodhya and ayodhya
        beside of sarju river </br>
        my village beside of </br>
        there are many market</br>
        as like agagang market,</br>
        gosaigang market,and kamalavikash</br>
        market and my village is very long</br>
        village name agaganj tikri</br>

    </p>
    <h1>my village of some importent man</h1>
    <address> Mr.Rakesh is the man leader in my village</br>
        Mr.Rajesh is the number 2 leader in my village </br>
        MR.mukesh is the number 3 leader in my village </br>
        MR.suraj is the number 4 leader in my village </br>
        MR.satyam is the number 5 leader in my village </br>
        MR.mohan is the number 6 leader in my village </br>
        MR.manus is the number 7 leader in my village </br>
    </address>
    <link rel="stylesheet" href="style .css">
    <table>
        <tr id="nam">
            <th>no.1</th>
            <th>no.2</th>
            <th>no.3</th>

        </tr>
        <tr>
            <td> mr.rakesh</td>
            <td> mr.suraj</td>
            <td> mr.manu</td>
        </tr>
        <tr>
            <td>mr.rajesh</th>
            <td>mr.satyam</th>
            <td>mr.rahul</th>
        </tr>
        <tr>
            <td>mr.mohan</th>
            <td>mr.mukesh</th>
            <td>mr.umesh</th>
        </tr>
        </tr>
    </table>

    <div ng-app="filter" ng-controller="namectrl">
        <div style="display: flex;flex-wrap: wrap;">
            <div style="display: flex;flex-basis: 50%;">
                <h3> Agriculture names using upper case filter</h3>
                <ul>
                    <li ng-repeat="name in names">{{name|uppercase}}</li>
                </ul>
            </div>
            <div style="display: flex;flex-basis: 50%;">
                <h3> Agriculture names using upper case filter</h3>
                <ul>
                    <li ng-repeat="name in names">{{name|lowercase}}</li>
                </ul>
            </div>
        </div>

        <h3>Search for agricalture by entering the name in input box </h3>
        your search string:
        <input placeholder="Enter name" type="text" ng-model="srchstr" />

        <div style="display: flex; flex-wrap: wrap;">
            <ul style=" list-style-type: none; padding: 0px;">
                <li style="margin: 10px; text-align: center;" ng-repeat="x in names|filter:srchstr">
                    <div style="padding: 10px;"><img src={{x}} width="50"></div> <br>
                </li>
            </ul>
            <div style="padding-left: 80px; padding-top: 39px;">
                <img src="agriculture.jpg" width="1160px" height="518px" >
            </div>
        </div>
        <script>

            var app = angular.module("filter", []);
            app.controller("namectrl", function ($scope) {
                $scope.names = [
                    "Rice.jpg",
                    "wheat.jpg",
                    "coliflower.jpg",
                    "ginger.jpg",
                    "cabbage.jpg",
                    "onion.jpg",
                    "potato.jpg",
                    "tomato.jpg",
                    "lady.jpg",
                    "mustardoil.jpg",
                    "pea.jpg"
                ];
            });
        </script>

        <h1> my village agricalture list</h1>
        <img src="pictures.jpg">
        <ul style="font-size: 30px;">
            <li> wheat</li>
            <li>pea</li>
            <li>rice</li>
            <li>coliflower</li>
            <li> ginger</li>
            <li>mater</li>
        </ul>

        <a href="contact.html">
            <h1>click the link</h1>
        </a>
    </div>
    <hr>
    <h4>Created by Umesh Kumar in ayodhya Uttar pradesh</h4>
</body>

</html>