<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list name </title>
    <script src="script/angular.min.js"></script>
</head>
<body>
    <div
     ng-app="repeat"
      ng-init="countries=['Brazil','India','China','Russia']"
      >
        <ul ng-hide="y">
            <li ng-repeat="country in countries">{{country}}</li>
        </ul>
        <p>
            Do you want to hide the list <input type="checkbox" ng-model="y"/>yes
        </p>
    </div>
    <script>
        var app = angular.module("repeat",[]);
    </script>
</body>
</html>