<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>price calculator</title>
    <script src="angular-1.8.2/angular.js"></script>
</head>

<body>
    <div ng-app="MyApp" ng-controller="CostController">
        <b>Bill :</b>
        <div>
          Quantity :
          <input type="number" min="0" ng-model="qty" required />
        </div>
        <div>
          Cost :
          <input type="number" min="0" ng-model="cost" required />
        </div>
        <div>
          <b>Total: </b>
          <span> {{total | currency:'Rs.'}} </span>
          <button class="btn" ng-click="pay()">Pay</button>
        </div>
      </div>
    <script>
        var app = angular.module("MyApp", []);
        app.controller("CostController", function ($scope) {
          $scope.qty = 0;
          $scope.cost = 0;
          $scope.total = 0;
          $scope.pay = function () {
            $scope.total = $scope.qty * $scope.cost;
          };
       });
      </script>
</body>
</html>