body{

}
#index{
    font-size: 50px;
    text-align: center;
}
#demo{
font-size:40px;
}
#let{
    font-size:30px;
}

td, th{

    font-size: 20px;
    text-align: center;
    border: 2px solid rebeccapurple;
}
address{
    font-size: 26px;
    float: right;
}
table{
    border: 2px solid black;
    height: 200px;
    width:500px;
    background: grey;
}
    img {
    float: right;
}